:root {
    --font-family: 'Open Sans Variable', sans-serif;
    --color-white: #FCFCFC;
    --color-black: #111111;
    --color-secondary: var(--color-black);
    --color-secondary-hex: 17, 17, 17;
    --color-primary: var(--color-white);
    --color-primary-hex: 252, 252, 252;
    --color-subtle: #05326b;
    --color-subtle-hex: #05326b;

    --color-base: var(--color-secondary);
    --color-base-hex: var(--color-secondary-hex);
    --mono-font-family: 'Roboto Mono Variable', monospace;
}